/* Estilos generales */


header {
    text-align: center;
    padding: 20px;
    background: rgb(47,0,255);
    background: linear-gradient(90deg, rgba(47,0,255,1) 7%, rgba(0,212,255,1) 91%); 
}

.logo img {
    max-height: 50px;
}

.imagen-equipo {
    display: flex;
    justify-content: center; /* Centra horizontalmente */
    align-items: center; /* Centra verticalmente */
    height: 70vh; /* Altura del contenedor, ajusta según sea necesario */
}

.imagen-equipo img {
    max-width: 100%;
    max-height: 100%;
}

nav {
    background-color: #e9ecef;
    display: flex;
    justify-content: space-around;
    padding: 10px;
  }
nav a {
    text-decoration: none;
    color: #343a40;
}

.perfil-usuario {
    /* Estilos para el perfil de usuario */
}

main {
    padding: 20px;
}

section {
    text-align: center; 
}

h1 {
    margin-top: 0;
}


.imagen-equipo img {
    max-width: 100%;
}

.redes-sociales a {
    text-decoration: none;
    color: #343a40;
    margin-right: 10px;
}

footer {
    background-color: #f8f9fa;
    text-align: center;
    padding: 10px;
}
