body {
    background-color: white;
    text-align: center;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

#navegador ul {
    list-style-type: none;
    text-align: center;
    background-color: #39a900;
    height: 50px;
}

#navegador li {
    display: inline;
    text-align: center;
    margin: 0 10px 0 0;
}

#navegador li a {
    padding: 2px 7px 2px 7px;
    color: #ffffff;
    background-color: #39a900;
    text-decoration: none;
}

#navegador li a:hover {
    background-color: #00324D;
    color: #ffffff;
}
footer {
    background-color: #39a900;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 40px;
    color: white;
    text-align: center;
}
.final {
    position: absolute;
    width: 150px;
    height: 20px;
    margin-left: 1650px;
    margin-top: -25px;
}