*{
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    vertical-align: baseline;
}

body{
    text-align: center;
    font-family: sans-serif;
}

.head{
    display: flex; 
    align-items: center;
    justify-content: space-between; /*se separen entre ellas arriba*/  
    height: 63px;
    background: #171717;
    position: fixed;
    width: 100%;
    z-index: 100; /*adelante de cualquier elemento*/
}

.navbar{
    display: flex;
    margin-right: 10px;
}

.logo{
    margin-left: 50px;
}

.logo a {
    text-decoration: none;
    color: white;
    text-transform: uppercase; /*para ponerlo en mayuscula*/
    font-size: 20px;
}

.navbar a{
    display: block;
    padding: 23px 20px;
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 20px;
}

.navbar a:hover{
    background: #3f3f3f;
}

.header{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
}

.header {
    height: 60vh !important;
    background: url(Index/22.jpeg) no-repeat center;
    background-size: cover; /*cubra toda la imagen*/
}

.imagen1 {
    margin-top: -50px;
    margin-left: 450px;
    position: absolute;
}

.general{
    padding-top: 9%
}

h1{
    color: #39a900;
    font-size: 40px;
    text-align: center;
}